@import "vars.css";
@import "normalize.css";
@import "hamburger.css";

/* Layout */
.contour {
    border: 0em;
    height: 0.0625rem;
    background-color: var(--color-gray-2);
}
.site-container {
    margin: auto;
    padding: auto;
    margin: 0em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    width: 100%;
    max-width: 45rem;
    z-index: 1;
}
/* Layout-Header */
.header-container {
    display: flex;
    flex-wrap: nowrap;
    /* margin: 0em 1em; */
    width: 100%;
    max-width: 45rem;
    z-index: 1;
}
.header-container a {
    text-decoration: none;
}
.header-container div::selection,
.header-container a::selection,
.header-container label::selection {
    background: transparent;
}
.header-title {
    text-transform: uppercase;
    font-family: var(--font-title);
    /* font-size: 2.75em; */
    font-size: 2.4375em;
    font-weight: 400;
    white-space: nowrap;
    letter-spacing: -0.1em;
    margin-top: -0.5625rem;
    /* margin-left: -0.5rem; */
    color: var(--color-id-3);
}
.header-description {
    font-size: 0.9375rem;
    font-weight: 100;
    white-space: nowrap;
    letter-spacing: -0.025em;
}
.nav-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875em;
    font-weight: 500;
    /* padding: 0rem 1rem; */
    margin-left: 1rem;
}
.nav-container ul {
    list-style: none;
    display: flex;
    padding: 0em;
    margin: 0.25rem 0em;
}
.header-nav a {
    color: inherit;
}
.header-nav li {
    margin-left: 1rem;
    margin-right: 1rem;
}
.tog-checkbox {
    display: none;
}
.tog-text {
    cursor: pointer;
}
.svg-rotate {
    transform: rotate(180deg);
}
/* Layout-Burger */
.header-burger {
    display: none;
    padding: 0.75em;
  }
@media (max-width: 480px) {
    .header-burger {
        display: flex;
        align-items: center;
    }
    .header-nav li{
        display: none;
    }
}
.burger-menu {
    width: 100%;
    transition: height .5s ease-in-out;
    height: 0;
}
.burger-menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* align-items: center; */
    /* align-items: flex-start; */
    padding: 0;
    margin: 0;
}
.burger-menu li {
    display: block;
    opacity: 0;
    font-size: 1.5em;
    padding: 0 1rem;
    transition: 
        transform .4s ease-in-out,
        opacity .3s ease-in-out;
    transform: scale(1.1) translateY(-1em);
}
.burger-menu a {
    color: var(--color-id-5);
    text-decoration: none;
}
.burger-menu a::selection {
    background: transparent;
}
@media (max-width: 480px) {
    .burger-menu-opened {
        height: 12em;
    }
    .burger-menu-opened li {
        display: block;
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}
/* Layout-Footer */
.footer-copyright {
    text-align: center;
    font-size: 0.875em;
    font-weight: var(--font-light);
    margin: 0.75em;
}

/* Postcard*/
.post-card {
    /* border: 0.0625em solid var(--color-card); */
    /* border-radius: 0.3em; */
    border-radius: 1em;
    /* box-shadow: 0 0.0625em 0.25em var(--color-id-2); */
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    padding: 1.875em 1.5em;
    cursor: default;
    background-color: var(--color-card);
    color: var(--color-id-5);
}
.post-card h1 {
    font-size: 2em;
    margin-top: 0em;
    margin-bottom: 0em;
    letter-spacing: -0.025em;
    color: var(--color-font)
}
.post-card a {
    text-decoration: none;
    color: inherit;
}
.post-card p {
    margin-bottom: 0em;
    margin-top: 0.75em;
}
.post-card small {
    font-size: 0.8125em;
}
.post-card img {
    margin-top: 0.75em;
    width: 100%;
}
.tag-item {
    margin-right: 0.375em;
    font-size: 0.875em;
}
.post-header {
    text-align: center;
}
.post-header h1 {
    font-size: 3em;
    letter-spacing: -0.025em;
    margin-top: 0.8125em;
    margin-bottom: 0em;
    
}
.post-header p {
    font-size: 0.8125em;
    margin-top: 0.8125em;
}
.search-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-box {
    margin: 2em auto;
    width: 35%;
    border-radius: 0.625em;
    border: 0.0625em solid var(--color-font);
    box-shadow: 0 0.0625em 0.25em var(--color-card);
    padding: 0.8125em;
    font-family: inherit;
    color: inherit;
    background-color: transparent;
}
.search-box:focus {
    outline: none;
}
.search-box::placeholder {
    color: var(--color-gray-1);
}
.tag-archive-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.tag-archive-item {
    color: var(--color-id-5);
    background: var(--color-card);
    border-radius: 0.3em;
    margin: 0.5em;
    padding: 0.2em 0.6em;
}
.tag-archive-link {
    text-decoration: none;
    color: inherit;
}
.pagenator {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    font-size: 0.875em;
}
.pagenator-link svg {
    fill: var(--color-font);
}
.pagenator-unlinked svg {
    fill: transparent;
}
.pagenator div::selection,
.pagenator a::selection {
    background: transparent;
}
.pagenator svg {
    width: 0.75rem;
    height: 0.75rem;
}
.post-card-readmore {
    margin-top: 0.375rem;
    font-size: 0.875em;
    /* color: var(--color-blue); */
    color: var(--color-id-3);
}
.post-card-readmore span::selection {
    background: transparent;
}
.post-card-readmore a:hover {
    text-decoration: underline;
}
.post-card-readmore svg {
    width: 0.5rem;
    height: 0.5rem;
    /* Size for korean (계속 읽기) */
    /* width: 0.625rem; */
    /* height: 0.625rem; */
    margin-left: 0.125rem;
    /* fill: var(--color-blue); */
    fill: var(--color-id-3);
}

.post-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    font-size: 1.125em;
}
.post-nav ::selection {
    background: transparent;
}
.post-nav a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: baseline;
}
.post-nav svg {
    width: 0.8125rem;
    height: 0.8125rem;
    fill: var(--color-font);
}
.post-nav-prev {
    margin-left: 0.125rem;
    margin-right: 1rem;
    text-align: center;
}
.post-nav-next {
    margin-right: 0.125rem;
    margin-left: 1rem;
    text-align: center;
}

article .tag-container {
    text-align: right;
}

article .tag-container a {
    text-decoration: none;
    color: inherit;
    font-size: 0.875em;
}

/* About */
.social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0em;
}
.social-links li {
    margin: 0em 0.3em;
}
.social-icon-use {
    stroke: var(--color-font);
}
.social-icon-path {
    fill: var(--color-font);
}
/* status card */
.status-card {
    letter-spacing: 0.125em;
    margin: 6em 0em;
}
.status-card h4 {
    margin: 0em;
    font-size: 2em;
    font-weight: 500;
    /* font-style: italic; */
}
.status-card p {
    margin: 0em 0em 0em 1.5em;
}

/* Works */
.works-container article{
    background: var(--color-card);
    border-radius: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
}
.works-container img {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.works-container a {
    text-decoration: none;
    color: inherit;
}
.works-container section {
    padding: 1em;
    padding-top: 0.5em;
}
.works-container h3 {
    margin: 0em;
    font-size: 2.125em;
}
.works-container h5 {
    margin: 0em;
    font-size: 1.25em;
    font-weight: var(--font-light);
}
.button-box {
    display: flex;
    justify-content: center;
    gap: 0.3em;
}
.button-box a {
    text-decoration: none;
    color: inherit;
}
.button-demo {
    background: var(--color-id-3);
    border-color: var(--color-id-3);
    padding: 0.25em 1em;
    border-radius: 0.375em;
    text-align: center;
    color: var(--color-bg);
    border-width: 0.1em;
    border-style: solid;
    width: 5em;
}
.button-repo {
    border-color: var(--color-id-3);
    border-width: 0.1em;
    border-style: solid;
    padding: 0.25em 1em;
    border-radius: 0.375em;
    text-align: center;
    color: var(--color-id-3);
    width: 5em;
}

/* Blog */
.blog-nav {
    font-weight: 400;
    display: flex;
    justify-content: center;
    gap: 2em;
    margin: 1em 0em;
}
.blog-nav a {
    text-decoration: none;
}
.blog-nav div::selection {
    background-color: transparent;
}
.blog-nav-activated {
    color: var(--color-id-3);
    border-bottom: 0.125em solid;
    cursor: default;
}
.blog-nav-deactivated {
    color: var(--color-id-2);
}